<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/black.css" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css" id="highlight-theme">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h3>https://hotwire.dev/</h3>
					<img src="./images/Hotwire_Rails.png" height="400px">
					<br>
					<small>
						<ul>
							<li>Replaces Turbo-Links</li>
							<li>Sends/replaces HTML snippets</li>
							<li>Turbo now forms and broadcasts</li>
							<li>StimulusJS - for advanced needs</li>
						</ul>
					</small>
				</section>

				<section>
					<h3>Rails 7.0 Default</h3>
					<section>
						<img src="./images/Modern_FE_Rails.jpg" height="400px">
						<br>
						<small>
							<ul>
								<li>Rails 6.x+</li>
								<li>Minimal JavaScript</li>
								<li>Single-Page -- Real-time</li>
							</ul>
						</small>
					</section>
				</section>

				<section>
					<h3>Standard App</h3>
					<pre><code data-trim data-noescape>
						$ rails new tweets -d postgresql -T --skip-turbolinks
						$ cd tweets
						$ bin/rails g scaffold tweet body:text likes:integer
						# app/models/tweet.rb
						class Tweet < ApplicationRecord
						  validates :body, presence: true
						end
					</code></pre>
				</section>

				<section>
					<h3>SPA Hotwire App</h3>
					<img src="./images/Tweets_w_Frames.png" height="400px">
					<small>
						<ul>
							<li><b>Code:</b> https://github.com/btihen/tweets_hotwire</li>
							<li><b>Talk:</b> https://github.com/btihen/ruby_kafi_hotwire_slides</li>
						</ul>
					</small>
				</section>

				<section>
					<h3>Steps to Transform</h3>
					<ol>
						<li>Install Hotwire-rails</li>
						<li>Check Config</li>
						<li>Broadcast: creates</li>
						<li>Broadcast: deletes</li>
						<li>Turbo Forms</li>
						<li>Broadcast: edits</li>
					</ol>
				</section>

				<section>
					<h3>1. Install Hotwire</h3>
					<small>
						<h3>Requirements</h3>
						<p>Redis installed and running on host system</p>
					</small>
					<pre><code data-trim data-noescape>
						$ bundle add hotwire-rails
						$ bin/rails hotwire:install
					</code></pre>
				</section>

				<section>
					<h3>2. Check Hotwire Config</h3>
						<small>
							<p>https://github.com/btihen/tweets_hotwire/commit/a09bcdab0d6509b73cb0e7b7fa0bf13611c173ff</p>
						</small>
						<pre><code data-trim data-noescape>
							# app/views/layouts/application.html.erb
							<%= stylesheet_link_tag 'application' , media: 'all' %>
							<%= javascript_pack_tag 'application' %>
							<%= yield :head %>
							<%= turbo_include_tags %>
						</code></pre>
						<small>
						<p>Check Header section of application.html.erb</p>
						<ul>
							<li>Turbo Added</li>
							<li>Turbo-Links Removed</li>
						</ul>
					</small>
				</section>


				<section>
					<h3>3. Real-Time Broadcast - Create</h3>
					<small>
						<p>
							https://github.com/btihen/tweets_hotwire/commit/42e68b8d886cda3e55d9d0daad5c033c5e9cb89e
						</p>
					</small>
					<section>
							<pre><code data-trim data-noescape>
							# app/models/tweet.rb
							class Tweet < ApplicationRecord
							  validates :body, presence: true

							  after_create_commit { broadcast_prepend_to "tweets" }
							end
							</code></pre>
							<small>
							<p>
								this creates and connects model to a "tweets" stream / channel
								<ul>
									<li>use `broadcast_prepend_to` to send items to the top</li>
									<li>use `broadcast_append_to` to send items to the bottom</li>
								</ul>
							</p>
							</small>
					</section>
					<section>
							<pre><code data-trim data-noescape>
							# app/views/tweets/index.html.erb
							<%= turbo_stream_from "tweets" %>

							<%= turbo_frame_tag "tweets" do %>
							  <%= render @tweets %>
							<% end %>
							</code></pre>
							<small>
								<p>
								this connects newly created tweets to the "tweets" `stream`
							<ul>
								<li>`turbo_stream_from` connects the view to the data stream</li>
								<li>`turbo_frame_tag` creates a location to put stream data</li>
							</ul>
							</p>
						</small>
					</section>
				</section>

				<section>
					<h3>4. Real-Time Broadcast - Delete</h3>
					<small>https://github.com/btihen/tweets_hotwire/commit/c40a66d7f949f3a280566bb3369a1168b1e0721e</small>
					<section>
						<pre><code data-trim data-noescape>
						# app/models/tweet.rb
						class Tweet < ApplicationRecord
						  validates :body, presence: true

						  after_create_commit { broadcast_prepend_to "tweets" }
						  after_destroy_commit { broadcast_remove_to "tweets" }
						end
						</code></pre>
						<small><p>Enable broadcasting Delete</p></small>
					</section>
					<section>
						<small><p>Each tweet displayed needs its own frame</p></small>
						<pre><code data-trim data-noescape>
						# app/views/tweets/_tweet.html.erb
						<%= turbo_frame_tag tweet do %>
						  <%= tweet.body %>
						  <%= render "actions", locals: {tweet: tweet} %>
						<% end %>
						</code></pre>
						<small><p>in this way turbo can find and remove the exact tweet HTML</p></small>
					</section>
				</section>

				<section>
					<h3>5. Setup Turbo Forms</h3>
					<small><p>https://github.com/btihen/tweets_hotwire/commit/11f7131542c8011ae40ae7a02ed3704ea129930c</p></small>
					<section>
						<pre><code data-trim data-noescape>
						# app/views/tweets/index.html.erb
						<%= turbo_stream_from "tweets" %>

						New Tweets
						<%= turbo_frame_tag "tweet-form" do %>
						  <%= render "tweets/form" , tweet: @tweet %>
						<% end %>

						Tweet Feed
						<%= turbo_frame_tag "tweets" do %>
						  <%= render @tweets %>
						<% end %>
						</code></pre>
					</section>
					<section>
						<pre><code data-trim data-noescape>
						# app/controllers/tweets_controller.rb
						def create
						  @tweet = Tweet.new(tweet_params)
						  respond_to do |format|
						    if @tweet.save
						      format.html { render tweet }
						    else
						      format.turbo_stream {
						        render turbo_stream: turbo_stream.replace(
						                @tweet, partial: "tweets/form",
						                locals: { tweet: @tweet}) }
						      format.html { render :new }
						    end
						  end
						end
						</code></pre>
						<small>
							<p>To get validation errors add `format.turbo_stream` to override standard action<br>
								(unlike happy path `create` -- where Turbo knows what to do)</p>
						</small>
					</section>
					<section>
						<small><p>
							Form now also needs a DOM-ID added
						</p></small>
						<pre><code data-trim data-noescape>
						<%= form_with(model: tweet, id: dom_id(tweet)) do |form| %>
						  &lt;div class="field">
						    <%= form.text_area :body %>
						  &lt;/div>
						  &lt;div class="actions">
						    <%= form.submit %>
						  &lt;/div>
						<% end %>
						</code></pre>
						<small>
							<p>
								Tweet form now fully works with Turbo!
							</p>
						</small>
					</section>
				</section>

				<section>
					<h3>6. Real-Time Broadcast - Edits</h3>
					<small><p>https://github.com/btihen/tweets_hotwire/commit/e16f3c525f93e41130d40cf80932a1e6eaac9ea3</p></small>
					<section>
						<pre><code data-trim data-noescape>
						# app/models/tweet.rb
						class Tweet < ApplicationRecord
						  validates :body, presence: true

						  after_create_commit { broadcast_prepend_to "tweets" }
						  after_destroy_commit { broadcast_remove_to "tweets" }
						  after_update_commit { broadcast_replace_to "tweets" }
						end
						</code></pre>
					</section>
					<section>
						<pre><code data-trim data-noescape>
						# app/views/tweets/edit.html.erb
						&lt;h1>Editing Tweet&lt;/h1>

						<%= turbo_frame_tag dom_id(@tweet) do %>
						&lt;div class="card card-body">
						  <%= render 'form' , tweet: @tweet %>
						&lt;/div>
						<% end %>
						</code></pre>
						<small><p>
							In-order for Turbo to know how to replace the `show` view with<br>
							the `edit` view -- add a `frame` with a dom_id to the edit view
						</p></small>
					</section>
					<section>
						<pre><code data-trim data-noescape>
						# app/views/tweets/show.html.erb
						<%= turbo_frame_tag dom_id(@tweet) do %>
						  <%= render @tweet %>
						<% end %>
						</code></pre>
						<small>
							<p>CAUTION - without the show dom_id the Turbo sends the HTML<br>
								doesn't find where to put the HTML and fails silently!</p>
						</small>
					</section>
				</section>

				<section>
					<h3>Hotwire-Rails Wrap-up</h3>
					<section>
						<small><p>
							<b>Benefits</b></p>
							<ul>
								<li>Easy install</li>
								<li>Easy legacy upgrade</li>
								<li>Powerful and flexible</li>
								<li>Encourages good partials</li>
								<li>A Real-Time Rails SPA with Rails Mindset</li>
							</ul>
							<br>
							<p><b>Drawbacks</b></p>
							<ul>
								<li>Non-standard routes/actions are tricky</li>
								<li>Silent failures are COMMON and tricky</li>
								<li>https://github.com/beflagrant/hotwire-debug</li>
							</ul>
						</small>
					</section>
				</section>

			</div>
		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>
